main {
    padding: 10px 10px;
}
h1 {
    font-size: 30px;
    color: #63802b;
}
.about-h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #484846;
}