.header-nav {
  display: flex;
  justify-content: right;
  padding: 10px;
}
.link {
  color: #5d9600;
  font-weight: 600;
  margin: 10px;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  color: grey;
}
.title {
  height: 30px;
  color: #5d9600;
  font-size: xxx-large;
  font-family: cursive;
}
.slogan {
  color: #a4d554;
  font-size: large;
  font-weight: 500;
  font-family: Century Gothic;
}
.search {
    height:5px;
    width: 200px;
}
