.flowers {
    background-color: beige;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.product-dropdown {
    float: right;
    padding-right: 20px;
}